*{
    margin: 0;
    padding: 0;
}
/* 图片背景 */
body{
    background-image: url(../img/my_background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
/* 大标题 */
.title{
    padding-top: 140px; 
    padding-bottom: 100px;
    padding-left: 100px;
}
/* 页面导航栏 */
ul { padding-left: 0; 
}
ul li { list-style-type: none; 
}
a { color: inherit; text-decoration: none; 
}
.page-header {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    min-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.page-header.sticky {
    position: fixed;
    top: 0;
} 

.page-header > .inner {
    margin: auto;
    width: 960px;
}

.no-boxshadow .page-header {
    border-bottom: 1px solid rgb(204, 204, 204);
}

.primary-nav {
    float: right;
    line-height: 80px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.primary-nav li {
    float: left;
}
.primary-nav a {
    display: block;
    padding: 0 1.36em;
}
.primary-nav a:hover {
    background-color: rgb(240, 240, 240);
}
/* 解决高度塌陷问题 */
.clear::after{
    content: "";
    clear: both;
    display: block;
}
/* 页面主要内容 */
.b1,.b2,.b3,.b4,.b5{
    width: 1000px;
    height: 300px;
    margin: 50px auto;
    background-color: rgb(250,250,250,0.7);
    border-top: 1px wskyblue solid;
}
.b1{
    margin: 115px auto 50px;
}
.content1{
    margin: 20px 10px 70px 20px;
    width: 600px;
    height: 260px;
    float: left;
}
.text{
    margin-left: 20px;
    margin-top: 20px;
}
.content2{
    margin: 20px 20px 70px 10px;
    width: 340px;
    height: 260px;
    float: left;
}
/* 侧边栏 */
button {
    outline: none;
  }
  
  .page-main {
    background-color: rgba(0, 0, 0, 0.8);
    width: 350px;
    height: 100%;
    top: 0;
    left: -350px;
    position: fixed;
  }
  
  .page-main ul {
    margin: 0;
    padding: 0;
    top: 50px;
    left: 114px;
    position: absolute;
  }
  
  .page-main li {
    margin: 0 0 20px;
    list-style: none;
  }
  
  .page-main button {
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    position: absolute;
    top: 150px;
    left: 350px;
    width: 52px;
    height: 132px;
    margin: 0;
    padding: 0;
    border: none;
  }
  .sidebar{
      margin-top: 100px;
  }
  .sidebar li{
      color: snow;
  }